/* In your CSS Module file (e.g., style.module.css) */
.customHover {
  transition: all 0.3s ease-in-out;
  color:#fff;
}

.customHover:hover {
  background-color: #6da8e8 !important;
  color: #fff !important;
  border-color: #004085 !important;
}


  .login_error_msg{
    position: absolute;
    color: red;
    text-shadow: 0 0 10px white;
  }